.grid {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background-color:rgba(0, 0, 0, 1);
  }

  .head{
    position: absolute;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    border: 3px solid rgba(29, 21, 21, 0.719);
    background-color:rgba(41, 38, 38, 1);
    order: -1;
  }

  .center{
    position: relative;
    box-sizing: border-box;
    margin: 40px 10px 0px 10px;
    display: flex;
    height: 87vh;
    flex-grow: 3;
    flex-direction: column;
    align-content: center;
    border: 3px solid rgba(29, 21, 21, 0.719);
    background-color:rgba(41, 38, 38, 1);
    order: 1;
    transition: ease 0.5s;
  }
  .center_full{
    position: absolute;
    margin: 0;
    width: 100%;
    height: 87vh;
    top: 40px;
    z-index: 10000;

    .map-wrapper {
      width: 70%;
      height: 93%;
      margin: 0 auto;
      .control-layers {
        margin-top: 0;
      }
      .group-value, .group-time {
        flex-direction: row;
      }      
    }
  }

  .left{
    position: relative;
    box-sizing: border-box;
    margin-top: 40px;
    display: flex;
    width: 17vw;
    height: 87vh;
    flex-grow: 1;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    border: 3px solid rgba(29, 21, 21, 0.719);
    background-color:rgba(41, 38, 38, 1);
    order: 0;
    transition: ease 1s;
  }
  .left_full {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 87vh;
    top: 40px;
    z-index: 10000;
  }

  .right{
    box-sizing: border-box;
    position: relative;
    margin-top: 40px;
    display: flex;
    height: 87vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    border: 3px solid rgba(29, 21, 21, 0.719);
    background-color:rgba(41, 38, 38, 1);
    order: 2;
    transition: ease 1s;
  }
  .right_full{
    position: absolute;
    margin: 0;
    top: 40px;
    width: 100%;
    height: 87vh;
    z-index: 10000;

    .graph{
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
    }
  }

  .button{
    box-sizing: border-box;
    position: absolute;
    visibility: hidden;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    border: none;
    z-index: 1000;
    background-color:rgba(41, 38, 38, 1);
    transition: ease .5s;
    cursor: pointer;
  }

  .button:focus{
    outline: none;
  }
  .show{
  visibility:visible;
  }
  .table{
    width: 100%;
    height: 50%;
  }
  .graph{
    margin: 0 auto;
    display: flex;
    width: 27vw;
  }

  @media screen and (max-width: 1023px) {
    .center{
      margin: 30px 0 0 0;
      padding: 10px;
      width: 100%;
      height: 100vh;
    }
    .left{
      margin: 30px 0 0 0;
      padding: 10px;
      width: 100%;
      height: 100vh;
    }
    .right{
      margin: 30px 0 0 0;
      padding: 10px;
      width: 100%;
      height: 100vh;
    }
    .graph{
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
    }
  }
