.grid {
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color:rgba(0, 0, 0, 1);
  }
  
  .head{
    box-sizing: border-box;
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    border: 3px solid rgba(29, 21, 21, 0.719);
    background-color:rgba(41, 38, 38, 0.5);
    order: -1;
  }
  
  .center{
    position: relative;
    box-sizing: border-box;
    margin: 0px 20px 0px 20px;
    display: flex;
    height: 85vh;
    justify-content: center;
    align-content: center;
    flex-grow: 4;
    border: 3px solid rgba(29, 21, 21, 0.719);
    background-color:rgba(41, 38, 38, 1);
    order: 1;
    transition: ease 0.5s;
  }
  .center_full{
    position: absolute;
    width: 100%;
    height: 87vh;
    top: 75px;
    z-index: 10000;
  }
  
  .left{
    position: relative;
    box-sizing: border-box;
    display: flex;
    height: 85vh;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    flex-grow: 2;
    border: 3px solid rgba(29, 21, 21, 0.719);
    background-color:rgba(41, 38, 38, 1);
    order: 0;
    transition: ease 1s;
  }
  .left_full {
    position: absolute;
    width: 100%;
    height: 87vh;
    top: 75px;
    z-index: 10000;
  }
  
  .right{
    box-sizing: border-box;
    position: relative;
    display: flex;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-grow: 0;
    border: 3px solid rgba(29, 21, 21, 0.719);
    background-color:rgba(41, 38, 38, 1);
    order: 2;
    transition: ease 1s;
  }
  .right_full{
    position: absolute;
    top: 75px;
    width: 100%;
    height: 87vh;
    z-index: 10000;
  }
  
  .list{
    flex-grow: 4;
  }
  .button{
    box-sizing: border-box;
    position: absolute;
    visibility: hidden;
    top: -10px;
    right: -3px;
    width: 20px;
    height: 20px;
    border: none;
    z-index: 1000;
    background-color:rgba(41, 38, 38, 1);
    transition: ease .5s;
    cursor: pointer;
  }
  
  .button:focus{
    outline: none;
  }
  .show{
  visibility:visible;
  }
  .table{
    width: 100%;
    height: 50%;
  }
  .graph{
    display: flex;
    justify-content: center;
    width: 600px;

  }

  @media screen and (max-width: 1180px) {
    .center{
      margin: 10px 0 0 0;
      padding: 10px;
      width: 90%;
      height: 85vh;
      flex-grow: none;
    }
    .left{
      margin: 10px 0 0 0;
      padding: 10px;
      width: 90%;
      height: 85vh;
      flex-grow: none;
    }
    .right{
      margin: 10px 0 0 0;
      padding: 10px;
      width: 90%;
      height: 85vh;
      flex-grow: none;
    }
  }
