.list {
  width: 300px;
  height: 720px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  outline: 1px solid silver;

  .select-block,
  .cases-by-country,
  .update-date {
    width: 100%;
  }

  .select-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    outline: 1px solid gray;

    select {
      width: 60%;
    }

    .total-number {
      font-size: 2em;
      font-weight: bold;
      color: red;
    }
  }

  .cases-by-country {
    outline: 1px solid gray;

    .cases-by-country__list {
      height: 500px;
      overflow-x: auto;
    }

    h1 {
      text-align: center;
      font-size: 1.5em;
      line-height: 2em;
    }

    div {
      border-bottom: 1px solid rgb(223, 223, 223);
      padding: 3px;

      span:first-child {
        margin-right: 20px;
        font-weight: bold;
        color: red;
      }
    }
  }

  .update-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    outline: 1px solid gray;
  }
}

.table {
  width: 500px;
  padding: 8px;
  outline: 1px solid silver;

  .country-name {
    width: 100%;

    font-size: 1.5em;
    font-weight: bold;
  }

  table {
    width: 100%;
    border-spacing: 0;

    tr {
      td {
        padding: 4px;
        border-top: 1px solid silver;
      }
      td:first-child {
        width: 40%;
      }
      td:last-child {
        font-weight: bold;
      }
      .td-confirmed {
        color: rgb(255, 174, 0);
      }
      .td-deaths {
        color: red;
      }
      .td-recovered {
        color: green;
      }
    }
  }
}
