.list {
  width: 300px;
  height: 720px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  outline: 2px solid silver;

  .select-block,
  .cases-by-country,
  .update-date {
    width: 100%;
  }

  .select-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    outline: 1px solid gray;

    select {
      width: 60%;
    }

    .total-number {
      font-size: 2em;
      font-weight: bold;
      color: red;
    }
  }

  .cases-by-country {
    outline: 1px solid gray;

    .cases-by-country__list {
      height: 500px;
      overflow-x: auto;
    }

    h1 {
      text-align: center;
      font-size: 1.5em;
      line-height: 2em;
    }

    div {
      border-bottom: 1px solid rgb(223, 223, 223);
      padding: 3px;

      span:first-child {
        margin-right: 20px;
        font-weight: bold;
        color: red;
      }
    }
  }

  .update-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    outline: 1px solid gray;
  }
}
