// .map-wrapper {
  // display: flex;
  // flex-direction: column;
  // width: 65rem;
  // height: 49rem;
  // margin-top: 5rem;
  // background-color: gray;
// }

#mapid {
  width: 65rem;
  height: 45rem;
  margin-top: 5rem;
}

.legend {
  padding: 1rem;
  border-radius: .3rem;
  background-color: rgba(255, 255, 255, 0.75);
  line-height: 18px;
  color: #555;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  .string-wrapper {
    display: flex;
    align-items: center;
  }

  i {
    width: 18px;
    height: 18px;
    float: left;
    opacity: 0.7;
    border-radius: 50%;
  }

  .cases {
    background-color: red;
  }

  .recovered {
    background-color: green;
  }

  .deaths {
    background-color: black;
  }

  p {
    margin: .4rem;
  }
}

.control-layers {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-radius: .3rem;
  // height: 4rem;
  background-color: #fff;
  opacity: .8;

  hr {
    width: 4rem;
  }
}

.group-value, .group-type, .group-time {
  display: flex;
  flex-direction: column;
  // width: 15rem;
}

.btn {
  margin: 0 3rem;
}
