html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

.grid {
  margin: 0 auto;
  display: flex;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color:rgba(0, 0, 0, 1);
}

.head{
  margin-bottom: 30px;
  width: 100%;
  height: 50px;
  border: 3px solid rgba(29, 21, 21, 0.719);
  background-color:rgba(41, 38, 38, 0.5);
  order: -1;
}

.center{
  box-sizing: border-box;
  margin: 0px 30px 0px 30px;
  display: flex;
  height: 85vh;
  justify-content: center;
  align-content: center;
  flex-grow: 3;
  border: 3px solid rgba(29, 21, 21, 0.719);
  background-color:rgba(41, 38, 38, 0.5);
  order: 1;
}

.left{
  box-sizing: border-box;
  display: flex;
  height: 85vh;
  flex-direction: column-reverse;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  border: 3px solid rgba(29, 21, 21, 0.719);
  background-color:rgba(41, 38, 38, 0.5);
  order: 0;
}

.right{
  box-sizing: border-box;
  display: flex;
  height: 85vh;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  border: 3px solid rgba(29, 21, 21, 0.719);
  background-color:rgba(41, 38, 38, 0.5);
  order: 2;
}

.list{
  flex-grow: 4;
}